name: build-snapshots

concurrency:
  group: snapshots-prod
  cancel-in-progress: false

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "talos/**"
      - ".github/workflows/build-snapshots.yml"
  pull_request_target:
    branches:
      - main
    paths:
      - "packer/**"
      - ".github/workflows/build-snapshots.yml"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: "read" # needed for gcp_auth
      id-token: "write" # needed for gcp_auth to create id token
    env:
      TALOS_VERSION: "v1.8.0"
    defaults:
      run:
        shell: bash
        working-directory: ./talos
    strategy:
      matrix:
        architecture:
          - talos: "amd64"
            server: "x86"
          - talos: "arm64"
            server: "arm"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: ${{ vars.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ vars.GCP_TERRAFORM_EXECUTOR_SERVICE_ACCOUNT_EMAIL }}

      - name: Fetch secrets
        id: "secrets"
        uses: "google-github-actions/get-secretmanager-secrets@v3"
        with:
          secrets: |-
            tf-executor-hcloud-token:${{ vars.GCP_PROJECT_ID }}/terraform-executor-hcloud-token

      - name: Upload schematic
        id: schematic
        run: |
          ID=$(curl -s -X POST --data-bindary @schematic.yaml https://factory.talos.dev/schematics | jq -r '.id')
          echo "schematic_id=$ID" >> $GITHUB_OUTPUT

      - name: Build
        run: |
          docker run --rm -e HCLOUD_TOKEN="${{ steps.secrets.outputs.tf-executor-hcloud-token }}" \
            ghcr.io/apricote/hcloud-upload-image:v1.2.0 \
            upload \
            --image-url "https://factory.talos.dev/image/${{steps.schematic.outputs.schematic_id}}/${{ env.TALOS_VERSION }}/hcloud-${{ matrix.architecture.talos }}.raw.xz" \
            --architecture "${{ matrix.architecture.server }}" \
            --description "talos-${{ env.TALOS_VERSION }}-${{ matrix.architecture.talos }}-${{ github.sha }}-${{ github.run_id }}-${{ github.run_attempt }}" \
            --compression xz \
            --labels "type=infra,os=talos,version=${{ env.TALOS_VERSION }},arch=${{ matrix.architecture.talos }},build_sha=${{ github.sha }},build_run_id=${{ github.run_id }},build_run_attempt=${{ github.run_attempt }}"

  cleanup-on-failure:
    runs-on: ubuntu-latest
    needs: build
    if: failure() || cancelled()
    steps:
      - name: Authenticate to GCP
        uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: ${{ vars.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ vars.GCP_TERRAFORM_EXECUTOR_SERVICE_ACCOUNT_EMAIL }}

      - name: Fetch secrets
        id: "secrets"
        uses: "google-github-actions/get-secretmanager-secrets@v3"
        with:
          secrets: |-
            tf-executor-hcloud-token:${{ vars.GCP_PROJECT_ID }}/terraform-executor-hcloud-token

      - name: Delete incomplete snapshots
        run: |
          docker run --rm -e HCLOUD_TOKEN="${{ steps.secrets.outputs.tf-executor-hcloud-token }}" \
            ghcr.io/apricote/hcloud-upload-image:v1.2.0 \
            cleanup

  remove-pr-snapshot:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      contents: "read" # needed for gcp_auth
      id-token: "write" # needed for gcp_auth to create id token
    if: github.event_name == 'pull_request_target' && github.event_name == 'pull_request'
    steps:
      - name: Setup Hetzner Cloud
        uses: hetznercloud/setup-hcloud@v1

      - name: Authenticate to GCP
        uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: ${{ vars.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ vars.GCP_TERRAFORM_EXECUTOR_SERVICE_ACCOUNT_EMAIL }}

      - id: "secrets"
        uses: "google-github-actions/get-secretmanager-secrets@v3"
        with:
          secrets: |-
            tf-executor-hcloud-token:${{ vars.GCP_PROJECT_ID }}/terraform-executor-hcloud-token

      - name: Get this run snapshot ID
        env:
          HCLOUD_TOKEN: ${{ steps.secrets.outputs.tf-executor-hcloud-token }}
        id: get_snapshot_id
        run: |
          snapshot_id=$(hcloud image list -t snapshot -o json | jq '.[] | select(.description | contains("${{ github.sha }}-${{ github.run_id }}-${{ github.run_attempt }}")).id')
          echo "snapshot_id=$snapshot_id" >> $GITHUB_OUTPUT

      - name: Remove PR snapshot
        run: |
          snapshot_id=${{ steps.get_snapshot_id.outputs.snapshot_id }}
          hcloud image delete $snapshot_id
